[[source]]
url = "https://${CLOUDSMITH_USERNAME}:${CLOUDSMITH_API_KEY}@package-manager.aa.com/basic/prod/python/simple"
verify_ssl = true
name = "package-manager.aa.com"

[packages]
pydantic = "*"
fastapi = "*"
httpx = "*"
uvicorn = "*"
sqlalchemy = "*"
psycopg = "*"
alembic = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.14"

[scripts]
tmp='uvicorn api:app --host 0.0.0.0 --port 8000 --reload'
dev = "uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload"
